/* ------------------------------------------------- *
 * The default, implies light theme
 * ------------------------------------------------- */
html {
	font: 14px/1 sans-serif;
	padding: 0;
	margin: 0;
}

body {
	background: white;
	padding: 0;
	margin: 0;
}

header {
	background: whitesmoke;
	border-bottom: 1px solid hsla(0, 0%, 0%, 0.05);
	margin-bottom: 1rem;

	display: flex;
	align-items: center;
}

h1 {
	color: hsla(0, 0%, 0%, 0.25);
	font-size: 1rem;
	font-weight: normal;

	padding: 1rem;
	margin: 0;
}

nav {
	padding: 1rem;
	margin-left: auto;
}

section {
	text-align: center;
}

#image {
	max-width: 100%;
}

/* ------------------------------------------------- *
 * Dark theme
 * ------------------------------------------------- */
.dark {
	background: hsla(0, 0%, 2.5%, 1);
}
.dark header {
	background: hsla(0, 0%, 10%, 1);
}
.dark h1 {
	color: hsla(0, 0%, 25%, 1);
}
